/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  @apply antialiased;
  transition: none !important;
  animation: none !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.custom-width {
  max-width: 700px; 
  width: 100%; 
  margin: 0 20px;
}

.table-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.calendar-small {
  width: 180px; 
  height: auto; 
  transform: scale(0.7); 
  transform-origin: top right; 
}

* {
  transition: none !important;
  animation: none !important;
}

.ellipsis {
  white-space: nowrap; 
  overflow: hidden;   
  text-overflow: ellipsis; 
}

::-webkit-scrollbar {
  width: 4px; 
  height: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 10px;
}

/* Kalender */
.react-calendar {
  font-size: 0.8rem !important; 
  max-width: 100% !important;
  box-sizing: border-box;
  overflow: hidden; 
}


.custom-calendar {
  width: 100%;
  max-width: 100% !important; 
  margin: 0 auto; 
  box-sizing: border-box; 
  overflow: hidden; 
}

@media (max-width: 768px) {
  .custom-calendar {
    max-width: 90% !important; 
  }
}

@media (max-width: 480px) {
  .custom-calendar {
    max-width: 80% !important; 
  }
  .react-calendar {
    font-size: 0.7rem !important; 
  }
}


.react-calendar__tile {
  font-size: 0.7rem !important;
  padding: 8px !important;
}

@media (max-width: 640px) {
  .modal-content {
    width: 90%; 
    height: auto; 
  }
  iframe {
    height: 70vh;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.auth-page {
  overflow: hidden; 
}


.normal-page {
  overflow-y: auto; 
  overflow-x: hidden; 
}


.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

li:hover .tooltip {
  visibility: visible;
  opacity: 1;
}








